

.canvas{
    border: 1px solid black;
    /* touch-action: none; */
}

.colorContainer{
    display: flex;
}

.red, .orange, .yellow, .green, .blue, .black{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}