html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(0, 0, 0);
	/* position:absolute; */
}

* {
  user-select: none;
}

label{
	margin-bottom: 5%;
}

.canvas {
  margin: 0;
  z-index: -5;
}

.menubars {
  cursor: pointer;
  animation-play-state: paused;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  font-size: 2rem;
  z-index: 5;
}

.border-gradient{
	border: 4px solid black;
}

.menu {
	display: none;
  position: absolute;
  top: 1.5%;
  left: 0.5%;
  background-color: rgb(0, 0, 0);
  border-image: linear-gradient(green, blue) 7 7;
  padding: 3%;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 0px;
	height: 0px;
	color: white;
}

.colorContainer,
.eraserContainer,
.sliderbox {
  display: flex;
  flex-direction: column;

}

.sliderbox{
	position: absolute;
  top: 20%;
  left: 5%;
}
.colorContainer {
  position: absolute;
  top: 40%;
  left: 5%;
}

.eraserContainer {
  position: absolute;
  top: 60%;
  left: 5%;
}

.colors,
.erasers {
  display: flex;
}

.red,
.orange,
.yellow,
.green,
.blue,
.black,
.rby,
.eraserSquare {
  border: 1px solid rgb(255, 255, 255);
  height: 1.7em;
  width: 1.7em;
	cursor: pointer;
}
.eraserSquare{
	background-color: white;
}

.eraserCircle {
  border: 1px solid rgb(255, 255, 255);
	background-color: white;

  height: 1.7em;
  width: 1.7em;
  border-radius: 25px;
  margin-left: 15px;
	cursor: pointer;

}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.rby {
  background-image: linear-gradient(red, blue, yellow, green);
}

.buttonContainer {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 85%;
  /* left: ; */
}

.download,
.clear {
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(green, blue);
  width: 90px;
  height: 50px;
	color: white;
	cursor: pointer;
}

@media only screen and (min-width: 450px) and (max-height: 350px) {

	.menu{
		overflow-x: scroll;
		overflow-y: scroll;
	}

	.menubars{
		top: 5%;
	}

	.buttonContainer{
		display: flex;
		flex-direction: column;
		gap: 0;
		top: 25%;
		left: 69%;
	}

	.eraserContainer {
		position: absolute;
		top: 67%;
		left: 5%;
	}

}

@media only screen and (min-width: 700px) {
	.menubars:hover {
		animation: menuColor 3s infinite;
		animation-play-state: running;
	}

	@keyframes menuColor {
		0% {
			color: rgb(12, 12, 12);
		}
		50% {
			color: rgb(216, 216, 216);
		}
		100% {
			color: rgb(12, 12, 12);
		}
	}

	.menubars, label{
		font-size: 2.5em;
	}

	.red,
	.orange,
	.yellow,
	.green,
	.blue,
	.black,
	.rby,
	.eraserSquare,
	.eraserCircle {
		height: 2.5em;
		width: 2.5em;
	}

	.buttonContainer{
		display: flex;
		gap: 25px;		
	}

	.download, .clear{
		height: 5em;
		width: 7em;
		font-size: 1em;
	}
}