

.canvas{
    border: 1px solid black;
    /* touch-action: none; */
}

.colorContainer, .eraserContainer{
    display: flex;
}

.red, .orange, .yellow, .green, .blue, .black, .rby, .eraserSquare{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.eraserCircle{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 15px;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.rby{
    background-image: linear-gradient(red, blue, yellow, green);
}